:root {
  --color-charleston-green: #222831;
  --color-arsenic: #393E46;
  --color-tiffany-blue: #00ADB5;
  --color-isabelline: #eeeeee;
  --navbar-height: 30px;
  --max-page-width: 960px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-charleston-green);
  color: var(--color-charleston-green);
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

a {
  text-align: center;
  text-decoration: none;
  color: var(--color-charleston-green);
  text-transform: uppercase;
}

a:hover {
  color: var(--color-tiffany-blue);
}

nav {
  background-color: var(--color-isabelline);
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  width: 100px;
}

#welcome-section {
  background-color: var(--color-isabelline);
  padding-top: var(--navbar-height);
  min-height: calc(100vh - 2 * var(--navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  margin-bottom: 40px;
}

#welcome-section img {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 2px;
}

#welcome-section p {
  max-width: var(--max-page-width);
  padding: 0px 10px 0px 10px;
  margin-top: 40px;
}

#projects {
  color: var(--color-isabelline);
}

.empty-space {
  height: var(--navbar-height);
  background-color: var(--color-isabelline);
}

#projects h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#projects .project-grid {
  width: 100%;
  max-width: var(--max-page-width);
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#projects .project-tile {
  border-style: solid;
  border-color: var(--color-isabelline);
  border-width: 1px;
  width: 250px;
  height: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects .project-tile:hover {
  border-color: var(--color-tiffany-blue);
}

#projects .project-tile figure {
  background-color: var(--color-arsenic);
  width: 100%;
  height: 92%;
}

#projects .project-tile figure img {
  max-width: 100%;
  height: 100%;
}

#projects .project-tile .project-caption {
  background-color: var(--color-isabelline);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact {
  background-color: var(--color-isabelline);
  min-height: calc(100vh - var(--navbar-height));
}

#contact h2 {
  margin-top: 40px;
  text-transform: uppercase;
}

.contact-panel {
  width: 100%;
  max-width: var(--max-page-width);
  min-height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-links {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact-link {
  text-transform: none;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  margin: 0px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--color-charleston-green);
  color: var(--color-isabelline);
}

footer .footer-links {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer .footer-links .footer-link {
  color: var(--color-isabelline);
  text-transform: none;
  margin: 0px 10px 0px 10px;
}

footer .footer-links .footer-link:hover {
  color: var(--color-tiffany-blue);
}

